In [1]:
import pandas as pd

In [3]:
city_list_html = pd.read_csv('City_List.csv')
city_list_html

,Unnamed: 0,City,Lat,Lng,Max Temp(F),Humidity(%),Cloudiness(%),Wind Speed(MPH),Country,Date
0,0,andorra la vella,42.50,1.49,37.00,74,0,5.37,AD,1602989388
1,1,agarakadzor,39.73,45.35,42.80,70,0,4.70,AM,1602989389
2,2,berd,40.88,45.39,53.94,61,0,3.89,AM,1602989389
3,3,lanjaghbyur,40.27,45.14,44.60,81,0,4.23,AM,1602989389
4,4,shahumyan,39.94,44.57,44.60,81,0,0.98,AM,1602989389
...,...,...,...,...,...,...,...,...,...,...
611,611,tam ky,15.57,108.48,84.20,83,75,1.12,VN,1602989526
612,612,ekangala,-25.70,28.75,69.01,82,0,4.36,ZA,1602989526
613,613,phalaborwa,-23.94,31.14,69.80,73,0,4.70,ZA,1602989526
614,614,willowmore,-33.29,23.49,58.06,63,61,2.28,ZA,1602989527
615,615,siavonga,-16.54,28.71,74.79,45,0,2.53,ZM,1602989527

In [4]:
del city_list_html['Unnamed: 0']

In [5]:
city_list_html

,City,Lat,Lng,Max Temp(F),Humidity(%),Cloudiness(%),Wind Speed(MPH),Country,Date
0,andorra la vella,42.50,1.49,37.00,74,0,5.37,AD,1602989388
1,agarakadzor,39.73,45.35,42.80,70,0,4.70,AM,1602989389
2,berd,40.88,45.39,53.94,61,0,3.89,AM,1602989389
3,lanjaghbyur,40.27,45.14,44.60,81,0,4.23,AM,1602989389
4,shahumyan,39.94,44.57,44.60,81,0,0.98,AM,1602989389
...,...,...,...,...,...,...,...,...,...
611,tam ky,15.57,108.48,84.20,83,75,1.12,VN,1602989526
612,ekangala,-25.70,28.75,69.01,82,0,4.36,ZA,1602989526
613,phalaborwa,-23.94,31.14,69.80,73,0,4.70,ZA,1602989526
614,willowmore,-33.29,23.49,58.06,63,61,2.28,ZA,1602989527
615,siavonga,-16.54,28.71,74.79,45,0,2.53,ZM,1602989527

In [ ]:
city_list_html.to_html('Data')